/* Body, Img & Global Styles */

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #f4f4f2;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23e0e0df' fill-opacity='0.5'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: bold;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

.menu h1:hover {
  transform: scale(1.1);
}


/* Navigation / Menu Styles*/

.nav-container {
  background-color: #f8f8f8;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.menu h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 40px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

.menu ul li {
  margin: 0;
}

.menu ul li a {
  text-decoration: none;
  color: #333;
  padding: 0.5rem 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.menu ul li a:hover {
  border-bottom: #333 dotted;
}

.menu ul li a.active {
  color: #454444;
  border-bottom: #333 solid;
}

/* Index HTML Styles*/

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  margin: 1rem auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

img.headshot {
  width: 70%;
  height: auto;
  border-radius: 1rem;
}

.footer {
  background-color: #f8f8f8;
  padding: 1rem 0;
  text-align: center;
  margin-top: auto;
}

.footer p {
  font-size: 14px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.social-icons i a {
  text-decoration: none;
}

.social-icons i:hover {
  transform: scale(1.5);
}

.elv-pitch-heading {
  font-size: 64px;
}

/* About Styles*/

.skill-heading {
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  max-width: 1200px;
  gap: 1.5rem;
  margin: 2rem auto;
  padding: 0 1rem;
  padding-bottom: 1rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.skill i {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.skill p {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #6d6c6c;
}

/* Contact Styles */

/* Experience Styles */

.experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  gap: 2.5rem;
  margin: 2rem auto;
  padding: 0 1rem;
  padding-bottom: 1rem;
}

.job-exp h1 {
  text-align: center;
}

.experience .job a:hover {
  transform: scale(1);
}

.edu-exp h1 {
  text-align: center;
}

/* Work Styles */

.work-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
}

.work-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem 2rem 3rem;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.work h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.work img.work-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.work p {
  font-size: 16px;
  margin-bottom: 1rem;
  color: #333;
}

.work-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.work-buttons .btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 14px;
  border-radius: 15px;
  color: #fff;
  background-color: #6d6c6c;
}

.work-buttons .btn:hover {
  background-color: #000000;
  transition: background-color 1.5s;
}



/* Contact Styles */

/* Media Q */

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    text-align: center;
  }
  .menu ul {
    padding-top: 1rem;
    flex-direction: column;
    gap: 2rem;
  }
  .hero-info {
    flex-direction: column;
    text-align: center;
  }
  img.headshot {
    width: 60%;
    margin: 1rem auto;
  }
  .elv-pitch {
    font-size: 12px;
  }
  .experience {
    grid-template-columns: 1fr;
  }
  .edu,
  .job {
    text-align: center;
  }
  .edu h2,
  .job h2 {
    font-size: 22px;
    border-bottom: #333 solid;
    padding-bottom: 1rem;
  }
  .edu p,
  .job p {
    font-size: 16px;
  }
  .edu ul li,
  .job ul li {
    font-size: 14px;
    text-align: left;
  }
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .work-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}